.toolbar-1{
    height: 45px;
}

.name{
    position: absolute;
    left:75px;
    top:15px;
    
}

.heart-icon {
  width: 30px;
  height: 30px;
  margin:3px;
  float:right;
  }
  .search-icon {
    width: 30px;
    height: 30px;
    margin:3px;
    float:right;
  }