.toolbar-1{
    height: 45px;
}

.tag_name{
    position: absolute;
    left:90px;
    top:15px;
    
}

.heart-empty-icon {
  width: 30px;
  height: 30px;
  float: right;
  }
  .search-icon {
    width: 30px;
    height: 30px;
    margin-left:3px;
    margin-right:3px;
    float:right;
  }