.toolbar-1{
    height: 45px;
}
.backtoFolder{
    --icon-margin-start:0px;
    --icon-padding-start:0px;
    --icon-padding-end:0px;
    --icon-margin-end:0px;
}
.album-name{
    
    float:left;
}

.name{
  float: left;
    
}

.heart-icon {
    width: 30px;
    height: 30px;
   float: right;
  }
  .search-icon {
    width: 30px;
    height: 30px;
    float:right;
  }