.tBnt {
    padding: o;
    width: 30px;
    height: 30px;
}
ion-col{
    text-align: center;
}

.search-icon {
    width: 30px;
    height: 30px;
    float: right;
    margin: 6px;
  }
  .grid-category{
    float: left;
    width: 50%;
  }
 .thumb{
 }